<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Створити сесію</p>
<form action="/" method="post">
    <label for="login">Ім'я:</label>
    <input type="text" name="login" id="login">
    <input type="submit" value="Ok">
</form>
<script>
    document.headers
</script>
